{% extends "base.html" %}

{% block title %}Bors queue - {{ repo_name }} {% if tree_state.is_closed() %} [TREECLOSED] {% endif %}{% endblock %}

{% block head %}
<style>
    main {
        max-width: 100rem;
        width: 100%;
        margin: 0 auto;
    }
</style>
{% endblock %}

{% block body %}
<main>
  <h1>
    Bors queue - <a href="{{ repo_url }}" target="_blank">{{ repo_name }}</a>
    {% if tree_state.is_closed() %}
    {% if let Some(comment_source) = tree_state.comment_source() %}
    {% if let Some(priority) = tree_state.priority() %}
    [<a href="{{ comment_source }}">TREECLOSED</a> below priority {{ priority }}]
    {% endif %}
    {% endif %}
    {% endif %}
  </h1>

  <p><a href="/help">Help page</a></p>

  <p>
    {{ stats.total_count }} total, {{ stats.in_queue_count }} in queue,
    {{ stats.failed_count }} failed, {{ stats.rolled_up_count }} rolled up
  </p>

  <table>
    <thead>
    <th>#</th>
    <th>Status</th>
    <th>Mergeable</th>
    <th>Title</th>
    <th>Author</th>
    <th>Assignees</th>
    <th>Approved by</th>
    <th>Priority</th>
    <th>Rollup</th>
    </thead>

    <tbody>
    {% for pr in prs %}
    <tr>
      <td>
        <a href="{{ repo_url }}/pull/{{ pr.number }}">{{ pr.number.0 }}</a>
      </td>
      <td>
        {% if let Some(try_build) = pr.try_build %}
        <a href="../results/{{ repo_name }}/{{ pr.number }}">{{ try_build.status }}</a> (try)
        {% else %}
        {% match pr.queue_status() %}
        {% when Approved(_) %}
        approved
        {% when ReadyForMerge(_, _) %}
        ready for merge
        {% when Pending(_, _) %}
        pending
        {% when Stalled(_, _) %}
        stalled
        {% when NotApproved %}
        {% endmatch %}
        {% endif %}
      </td>
      <td>
        {% match pr.mergeable_state %}
        {% when Mergeable %}
        yes
        {% when HasConflicts %}
        no
        {% when Unknown %}
        {% endmatch %}
      </td>
      <td>{{ pr.title }}</td>
      <td>{{ pr.author }}</td>
      <td>{{ pr.assignees|join(", ") }}</td>
      <td>
        {% if let Some(approver) = pr.approver() %}
        {{ approver }}
        {% endif %}
      </td>
      <td>{{ pr.priority.unwrap_or(0) }}</td>
      <td>
        {% if let Some(rollup) = pr.rollup %}
        {{ rollup }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}
