name: Deploy staging

on:
  push:
    branches:
      - main

jobs:
  deploy-to-staging:
    name: Deploy to staging
    runs-on: ubuntu-latest
    environment: staging
    concurrency: staging
    if: github.repository_owner == 'rust-lang'
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Deploy to ECS
        uses: ./.github/actions/deploy-ecs
        with:
          aws-iam: "392478027976"
