name: Deploy production

on:
  workflow_dispatch:

jobs:
  deploy-to-production:
    name: Deploy to production
    runs-on: ubuntu-latest
    environment: production
    concurrency: production
    if: github.repository_owner == 'rust-lang'
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Deploy to ECS
        uses: ./.github/actions/deploy-ecs
        with:
          aws-role-arn: "351621253146"
