name: Test

on:
  pull_request:
  merge_group:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: postgres://postgres:password@localhost:5432/test
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.80.0
          components: clippy, rustfmt

      - name: Install sqlx-cli
        run: cargo install sqlx-cli@0.7.4 --no-default-features --features native-tls,postgres

      - name: Run SQLx migrations
        run: cargo sqlx database create && sqlx migrate run

      - name: Check .sqlx files
        run: cargo sqlx prepare --check -- --tests

      - name: Build
        run: cargo build --workspace --all-targets

      - name: Test
        run: cargo test --workspace

      - name: Lint code
        run: cargo clippy --workspace

      - name: Check formatting
        run: cargo fmt --all --check

  docker:
    name: Test Docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - name: Build the Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: bors
          load: true
      - name: Run Docker image
        run: docker run bors --help
